<%- include("./includes/head")%>
    <h1 class="title">Post Detail Page</h1>
    <div>
        <a href="/posts">View All Posts</a>
    </div>
    <section class="form-section" style="width: 50% !important;">
        <h1><%= post.title %></h1>
        <img src=<%= post.image_url %> alt=<%= post.title %>/>
        <p class="post-desc"><%= post.description %></p>

    </section>
    <%- include("./includes/foot")%>
